<header class="nav-down">
	<nav>
		<div class="navbar1">
			<ul id="menu">
				<li><a href="#whoami">whoami</a></li>
				<li><a href="#before">: before</a></li>
				<li><a href="#after">:: after</a></li>
				<li><a href="#social">social</a></li>
				<li><a href="#some_pic">some_pic</a></li>
			</ul>
		</div>
		<div class="navbar2">
			<div class="menuButton">menu</div>
			<div class="menuContent">
				<a href="#whoami">whoami</a>
				<hr>
				<a href="#before">: before</a>
				<hr>
				<a href="#after">:: after</a>
				<hr>
				<a href="#social">social</a>
				<hr>
				<a href="#some_pic">some_pic</a>
			</div>
		</div>
		
	</nav>
	<ul class="contact">
		<a href="http://www.linkedin.com/in/annateglassy" target="blank"><li><img src="/static/images/linkedin.svg"></li></a>
		<a href="http://www.github.com/teglanna" target="blank"><li><img id="github" src="/static/images/github.svg"></li></a>
		<a href="http://www.facebook.com/teglassy.anna" target="blank"><li><img src="/static/images/fb.svg"></li></a>
		<a href="http://twitter.com/teglanna"><li><img src="/static/images/twitter.svg"></li></a>
		<a href="http://www.annateglassy.tumblr.com"><li><img id="web" src="/static/images/website.svg"></li></a>
		</ul>
</header>
