{% extends 'base.html' %}

{% block body_block %}
	{% include 'teglanna_app/_menu.html' %}

<a name="#"></a>
<div class="row_title title"><img src="/static/images/whoami.jpg"></div>
<div class="row" id="whoami">
	<div class="who">{{ whoami.text }}</div>    
</div>
<a name="before"></a>
<div class="row_title"></div>
<div class="row_title title"><img src="/static/images/before.jpg"></div>
  <div class="row clearfix" id="work">
    <ul>
        {% for item in work_list %}
            <li>                  
                {{ item.description }}                
            </li>
        {% endfor %}
    </ul>
</div>



<a name="after"></a>
<div class="row_title"></div>
<div class="row_title title"><img src="/static/images/after.jpg"></div>
  <div class="row clearfix" id="project">
    <ul>
        {% for item in project_list %}
            <li>      
            	<div class="thumb">
            	<img class="grow" src="/media/{{ item.pic }}">
            	</div></br>
                {{ item.description }}
                
            </li>
        {% endfor %}
    </ul>
  </div>

<a name="social"></a>
<div class="row_title"></div>
<div class="row_title title"><img src="/static/images/social.jpg"></div>
	<div class="row clearfix" id="soci">
	<div id="soc">
   		{{ social.text }}
   	</div>
    </div>

<a name="some_pic"></a>
<div class="row_title"></div>
<div class="row_title title"><img src="/static/images/some_pic.jpg"></div>
    <div class="row clearfix" id="some">

    <ul>
        {% for pic in pic_list %}
        <li><a href="/media/{{ pic.kep_file }}" data-lightbox="paint">
            <img class="paint" src="/media/{{ pic.kep_file }}"> </a>
        </li>
        {% endfor %}
    </ul>
    </div>

    <footer>See more at: <a href="http://teglanna.github.io" target="blank"> teglanna.github.io </a> / <a href="http://annateglassy.tumblr.com" target="blank"> annateglassy.tumblr.com </a></footer>

{% endblock %}

{% block scripts %}
{% endblock %}
