<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>teglanna</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <link rel="stylesheet" href="/static/css/lightbox.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
     <script src="/static/js/vendor/jquery-1.11.2.min.js"></script>
     <script src="/static/js/vendor/jquery.scrollTo.min.js"></script>
     <script src="/static/js/vendor/jquery.localScroll.min.js"></script>
     <script src="/static/js/vendor/lightbox.js"></script>
     <script src="/static/js/user/menu2.js"></script>
     <script src="/static/js/user/menu.js"></script>
     <script type="text/javascript">
        $(document).ready(function() {
           $('#menu').localScroll({duration:500});
        });
    </script>
</head>

<body>

        {% block body_block %}{% endblock %}



   



    {% block scripts %}
    {% endblock %}
</body>

</html>
