/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding-top: 50px;
  font-family: 'Oxygen', sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  color: #4C4949;
  background-color: #AAC3FF;
  font-size: 14px;
  line-height: 1.6;
  height: 100%;
}
li {
  float: left;
}
a {
  text-decoration: none;
  color: #607BBB;
}
a:hover,
a:visited {
  color: #7D0808;
}
img {
  display: block;
  margin: auto;
}
ul {
  list-style: none;
}
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.row {
  width: 100%;
  margin: 0 auto;
}
.row:before {
  clear: both;
}
.row_title {
  clear: both;
  width: 100%;
  height: auto;
  text-align: center;
}
.row_title img {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 80px;
}
/* Header nav*/
header {
  height: 50px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  font-size: 18px;
  letter-spacing: 3px;
  z-index: 1000;
  background-color: #AAC3FF;
}
header nav {
  padding: 0px 15px 0px 15px;
}
header nav #menu li {
  margin-top: -15px;
}
header nav #menu li:active a {
  color: #ACBCAF;
  background: #fff;
}
header nav #menu a {
  display: block;
  margin: 25px 5px 0px 5px;
  text-align: center;
  -webkit-transition: 0.5s all ease-out;
  -moz-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  color: #ffffff;
  padding: 2px 3px 2px 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
}
header nav #menu a:hover {
  background-color: #fff;
  color: #AAC3FF;
}
header .contact {
  float: right;
  margin-top: 10px;
}
header .contact img {
  width: 30px;
  height: 30px;
}
.nav-up {
  top: -50px;
}
.navbar2 {
  display: none;
}
#whoami {
  background-color: #7B7B7B;
  padding: 0 20px 0;
}
#whoami .who {
  max-width: 800px;
  margin: auto;
  color: #fff;
}
#whoami .who h2,
#whoami .who h3 {
  line-height: 2em;
  text-align: center;
}
#whoami .who p {
  text-align: center;
}
#work {
  background-color: #fff;
}
#work li {
  width: 100%;
  padding: 25px 20px;
  text-align: center;
  background-color: #fff;
  font-size: 14px;
}
#work li:nth-child(odd) {
  background-color: #F7EFB9;
}
#project {
  height: auto;
  background-color: #DFDFE0;
}
#project li {
  height: 350px;
  width: 100%;
  padding: 40px 20px 25px;
  text-align: center;
  background-color: #fff;
  font-size: 14px;
}
#project li .grow {
  margin: auto;
  height: 200px;
  display: inline-block;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0);
  border-radius: 3px;
}
#project li .grow:hover,
#project li .grow:focus,
#project li .grow:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
#project li:nth-child(even) {
  background-color: #EFEBEB;
}
#soci {
  background-image: url(/static/images/pat2.png);
  background-repeat: repeat;
  padding: 20px;
}
#soci #soc li {
  padding: 10px 5px;
  width: 100%;
  text-align: center;
}
#some {
  background-color: #efebeb;
  padding: 20px;
}
#some li,
#some li img {
  width: 100%;
}
#some li img {
  margin-bottom: 10px;
}
footer {
  background-color: #AAC3FF;
  color: #fff;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 10px;
}
footer a {
  color: #fff;
}
@media screen and (max-width: 699px) {
  nav .navbar1 {
    display: none;
  }
  nav .navbar2 {
    display: block;
    width: 50%;
    float: left;
  }
  nav .navbar2 .menuButton {
    cursor: pointer;
    color: #FFFFFF;
    padding: 18px 0px 0px 5px;
  }
  nav .navbar2 .menuContent {
    margin-left: -20px;
    width: 100%;
    float: left;
    text-align: center;
    font-weight: 500;
    padding: 15px 0px 15px 0px;
    color: #ffffff;
    background-color: #AAC3FF;
  }
  nav .navbar2 .menuContent hr {
    border: 0;
    height: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  nav .navbar2 .menuContent a {
    color: #fff;
  }
}
@media screen and (min-width: 700px) {
  #project li {
    width: 50%;
  }
  #soci #soc li {
    width: 50%;
  }
  #some li {
    width: 50%;
  }
  #some li img {
    width: 300px;
    height: 210px;
  }
}
@media screen and (min-width: 850px) {
  .row_title img {
    height: 100px;
  }
  #whoami {
    background-image: url(/static/images/duna3b.jpg);
    background-size: 100%;
    padding: 80px 20px;
    height: 85%;
    font-size: 18px;
  }
  #whoami p {
    padding-right: 10px;
    padding-bottom: 10px;
  }
  #whoami h3 {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  #work li {
    width: 25%;
    height: 350px;
    padding: 40px 20px;
  }
  #project li {
    width: 33%;
  }
  #some {
    padding-top: 60px;
    height: 85%;
  }
  #some li {
    width: 25%;
  }
  header .contact {
    margin-right: 20px;
  }
  header .contact img {
    width: 40px;
  }
}
@media screen and (min-width: 1100px) {
  #work li {
    width: 25%;
    height: 250px;
    padding: 30px 20px 0;
  }
}
